/* 
| Google Fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* 
| Tailwind CSS
*/

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {

    * {
        @apply font-poppins font-normal antialiased;
    }

    a, button {
        @apply transition-all duration-300 disabled:opacity-50;
    }

    label {
        @apply block text-sm font-medium mb-2;
    }

    input, textarea, select {
        @apply outline-none;
    }

    select {
        -webkit-appearance: none;
        -ms-expand: none;
        
        @apply h-[2.8rem];
    }

    ::-webkit-scrollbar {
        @apply w-[8px] h-[8px];
    }
  
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    ::-webkit-scrollbar-thumb {
        @apply bg-gray-600 rounded-full;
    }

}

@layer components {

    .wrapper {
        @apply w-full lg:max-w-[1280px] 2xl:max-w-[1560px] 
        mx-auto px-6 sm:px-8 md:px-12;
    }

    .button {
        @apply outline-none flex justify-center items-center 
        gap-3 font-medium rounded-md w-max px-8 py-3 
        shadow-lg text-sm md:text-base;
    }

    .field {
        @apply block w-full focus:outline-blue-400 
        placeholder:text-sm border rounded-lg px-3 py-[.525rem] 
        transition-all duration-300 border-gray-300;
    }

}

/* - Topbar - */

.topbar {
    @apply w-full h-[100px] flex items-center;
}

.topbar .topbar-container {
    @apply w-full lg:max-w-[1280px] 2xl:max-w-[1560px] 
    mx-auto px-6 sm:px-8 md:px-12 flex justify-between 
    items-center;
}

.topbar .topbar-brand {
    @apply flex items-center gap-x-3 select-none;
}

.topbar .logo {
    @apply w-[50px] md:w-[57.5px] lg:w-[65px] aspect-square;
}

.topbar .topbar-center {
    @apply fixed bottom-0 left-0 
    lg:static block border-t 
    lg:border-none w-full py-4  
    bg-white lg:bg-transparent 
    z-[500];
}

.topbar .topbar-menu {
    @apply flex justify-center items-center 
    gap-10 sm:gap-16 md:gap-20;
}

.topbar .topbar-link {
    @apply text-sm lg:text-base 
    font-medium lg:font-normal flex flex-col 
    items-center gap-2;
}

.topbar .topbar-link.active {
    @apply font-bold lg:font-medium;
}

.topbar .dropdown {
    @apply relative;
}

.topbar .dropdown-toggler {
    @apply flex items-center gap-x-3;
}

.topbar .dropdown-menu {
    @apply absolute top-10 right-0 w-[225px] 
    md:w-[250px] bg-white border rounded-md p-2 
    hidden;
}

.topbar .dropdown-menu.active {
    @apply flex flex-col gap-1;
}

.topbar .dropdown .topbar-link {
    @apply flex hover:bg-gray-50 
    text-sm rounded-md px-5 py-2 
    items-start justify-center;
}

/* - Topbar - */